<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atmko.onmywatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.atmko.onmywatch.widget.ListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_provider_info" />
        </receiver>

        <activity android:name="com.atmko.onmywatch.widget.ListWidgetProviderConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.atmko.onmywatch.widget.ListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_provider_info" />
        </receiver>

        <activity
            android:name=".MasterActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateListActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.PopupDialog" />

        <activity android:name=".RateActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.PopupDialog" />

        <activity
            android:name=".AddToListActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.PopupDialog" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/options_settings_title"
            android:theme="@style/preferences_theme" />

        <service
            android:name=".widget.ListRemoteViewFactoryService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>